[2021-03-14 20:28] atbe opened #1 "rtc client --- error decoding signal response: unknownField("turnPassword")"
Hi @dsa we just started integrating the `livekit-ios` library with our mobile app. I'll probably be submitting some bug reports as I work through the initial MVP.

So for the first `connect` call I'm making, it looks like there's an aerror around `turnPassword` that I'm not familiar with. No references to it in the source code either.

This error only occurs on livekit server version `0.6.0`. Live

[2021-03-15 21:15] #1 closed, assigned to nobody

[2021-08-04 08:54] Yehsam23 opened #2 "Could reduce minimum deployment target to iOS 10?"
The minimum deployment target of "Package.swift" is v13 (iOS 13.0)

Can be set to v10, because our project is currently set to 10.0

Thanks

[2021-08-04 19:15] davidzhao commented on #2
hi @Yehsam23, unfortunately it's not simple to do that. we are using several features that are only available in later builds:

- NWPathMonitor: requires iOS 12
- WebSocket client: requires iOS 13

It might be possible to remove both of these requirements, but unfortunately we don't have any cycles to investigate at the moment.

[2021-08-04 19:15] #2 closed

[2021-09-24 05:36] phannguyenvn opened #5 "How to broadcast audio from device instead of microphone"
My app will allow users to create an online karaoke room.
When the user is singing, I want background music and their voice to be played to all participants in that room.
I don't know how to configure Webrtc to receive audio from the device and processed vocals.

Thanks,

[2021-09-24 21:29] davidzhao commented on #5
Do you have access to the music files that you'd want to play? If so, this should be possible. (but might require us to expose more APIs via the SDK)

If you are thinking about capturing music from another app, that's disallowed by iOS.

Can you share more?

[2021-09-25 04:45] phannguyenvn commented on #5
Hi Davidzhao,

Thank you for responding.

Yes, I have full access to my music file, I can play the music file through AVAudioPlayer in my app.

Besides streaming voice from the microphone, do we also stream music?

There are some online KTV karaoke apps that do this like Smule, Starmaker...

please help me, thanks

[2021-09-25 10:40] HeroSony opened #6 "Definition conflicts with previous value (iOS)"
Hello, I encounter a problem after install LiveKit and running the app.

[code]
<img width="1515" alt="Screen Shot 2021-09-25 at 5 31 27 PM" src="https://user-images.githubusercontent.com/4160246/134768554-5d613546-91a7-465a-800b-f92e0e59c413.png">

[2021-09-25 11:45] hiroshihorie commented on #6
Hi @HeroSony ! I will check it out in a few hours. 😁

[2021-09-25 14:35] hiroshihorie commented on #6
@HeroSony I confirmed it compiles with Xcode Version **12.5.1 (12E507)**, so Swift ver should be **5.4.2**.
Maybe this is due to some changes in Swift but I'm not sure yet. Xcode 13 is available now, can you try updating ?
Can you try if the test app compiles https://github.com/livekit/ios-test-apps ?

[2021-09-25 15:04] HeroSony commented on #6
@hiroshihorie I shall update Xcode to the latest and try compiling again. Letting you know afterward. Thanks for your confirmation.

[2021-09-27 17:59] davidzhao commented on #5
I understand now. There are two ways to go about this.

1. use our [Go Server SDK] from the server side to publish the music file to the room, all participants will receive it and sing along. (you can do this today).
2. decode the audio file and publish it as an additional audio track. though you can't do this yet because:
    * iOS SDK doesn't support non-microphone audio sources today. we'd want

[2021-09-30 12:30] nguyenductai opened #8 "Can not build on xCode 12.1."
After add swift package, in the RoomViewController.swift file can not find the LiveKit:
import LiveKit  -> no such module 'LikeKit'

Please help, I tried a lot but still fails.
Thanks.

[2021-10-05 14:11] AlexanderKozhevin opened #10 "is there any reference on how to start with swiftUI?"

[2021-10-05 21:16] hiroshihorie commented on #10
Hi @AlexanderKozhevin, I just started working on a SwiftUI example, updates to iOS SDK are on the way too.  SwiftUI example might be ready in about 2 weeks.

[2021-10-05 21:22] hiroshihorie commented on #8
Hi @nguyenductai , Can I have more information ? Can you make sure you have `LiveKit` in your `Frameworks`
 located at Targets > General page.
<img width="660" alt="スクリーンショット 2021-10-06 6 18 46" src="https://user-images.githubusercontent.com/548776/136104326-02e1d040-b266-45b5-9362-33037e304ef9.png">

[2021-10-05 21:23] hiroshihorie commented on #6
Hi @HeroSony would like to hear if it worked out 😁

[2021-10-11 23:07] #8 closed

[2021-11-02 18:12] doesnotexist commented on #10
@hiroshihorie gentle nudge, any update on this yet?

[2021-11-10 16:34] hiroshihorie commented on #10
Hi @AlexanderKozhevin @doesnotexist
You can try the new example repo (which uses swift UI)
https://github.com/livekit/client-example-swift

It will be updated to work with `main` of https://github.com/livekit/client-sdk-ios

[2021-11-11 21:05] jeksys opened #22 "iOS target compilation error"
There are two compilation error if you build for iOS target:
LocalVideoTrack.swift
RemoteTrackPublication.swift

[2021-11-15 17:36] jeksys commented on #22
fixed with the latest commits

[2021-11-15 17:36] #22 closed

[2021-11-24 06:01] Zharas0904 commented on #6
Hi @hiroshihorie, Is there any updates? have the same issue on **Xcode Version 12.4 (12D4e)**

[2021-11-24 06:41] hiroshihorie commented on #6
@Zharas0904 Hi, may i know which issue exactly, "Definition conflicts with previous...." ?

[2021-11-24 07:26] jeksys opened #26 "[Mobile SDK, iOS] Add support for the back camera"
Currently local track is created using `LocalVideoTrackOptions` with default values, including `AVCaptureDevice.Position == .front`

- modify `LocalParticipant.setCamera` with custom `LocalVideoTrackOptions`

[2021-11-24 08:53] Zharas0904 commented on #6
Hi @hiroshihorie, yeap, exactly the same issue "Definition conflicts with previous value", with value name selectedDimension

[2021-11-24 10:27] hiroshihorie commented on #6
Hi @Zharas0904 I will look into this today. I might need to get lower versions of Xcode to reproduce this error.

[2021-11-24 18:15] #26 closed

[2021-11-25 11:10] Zharas0904 commented on #6
Hi @hiroshihorie, how you doing? is there any updates? Did you solve this issue?

[2021-11-25 14:23] hiroshihorie commented on #6
Hi @Zharas0904 , I'm struggling to reproduce it. But I did release a new v0.9.0. Could you try if that works ?

[2021-11-26 04:49] Zharas0904 commented on #6
Hi @hiroshihorie, yeah, sure we are using **Xcode Version 12.4 (12D4e)**  and **Swift 5**

[2021-11-26 06:57] hiroshihorie commented on #6
Ok thanks for the detailed feedback will dig into it now

[2021-11-26 23:47] hiroshihorie commented on #6
Hello can you try v0.9.1

[2021-11-30 09:43] Zharas0904 commented on #6
Hi @hiroshihorie, sorry for late reply, compiling on Xcode 12.4 works fine, thanks for the prompt solution of the problem!)

... but we found new issue:
Previously we've started implementing LiveKit delegate methods, all methods called/worked fine on package version v0.8.2 and we received all call related events, but after updating package version to v0.9.2 we are not getting any events (except di

[2021-11-30 10:07] hiroshihorie commented on #6
Hi @Zharas0904 , I will take a look but
It sounds like your object is getting deallocated. Can you make sure your object has strong reference somewhere, since Room.add(delegate:) keeps **weak reference** only.

[2021-11-30 17:13] davidzhao commented on #6
closing this issue as the original problem has been resolved. @Zharas0904 please find us on slack if there are other issues that you need help with.

[2021-11-30 17:13] #6 closed

[2021-12-10 20:13] doesnotexist opened #33 "LocalVideoTrack's source .unknown instead of .camera"
For my app on iOS (which never uses screen sharing) the firstCameraPublication is always nil.  It appears that source = .unknown for the published LocalVideoTrack associated with the camera capturer.  This breaks the computed property firstCameraPublication on ObservableParticipant, because the filter for the call to first() never finds a track with source == .camera
https://github.com/livekit/cli

[2021-12-11 01:29] davidzhao commented on #33
@doesnotexist what version of the server are you running? I think it's old enough that publishing with Source is not yet supported.

[2021-12-11 02:41] doesnotexist commented on #33
@davidzhao v0.13.1
I can see how the no source coming back in the response could result in the .unknown value.
Let me see if upgrading to a newer version fixes the behavior.
If thats the case, is that the intended behavior, that a client should depend on the server state's values even for metadata about their own published local tracks?

[2021-12-11 05:26] davidzhao commented on #33
Server versions before v0.13.5 does not support the Source attribute.. so the `getTrackPublication(source:)` functions will not work properly for versions before then.

Even if it uses the local information (instead of remote), it won't work properly for all of the remote participants' publications. So you really need the right version of server in order to utilize the *Source APIs.

[2021-12-11 20:53] doesnotexist commented on #33
Got it, thanks.  Closing this issue.

[2021-12-11 20:53] #33 closed

[2022-01-27 07:41] #5 closed

[2022-03-08 16:40] sinhngn opened #61 "Cannot revecive video track from iOS"
The delegate in below:
```func room(_ room: Room, participant: RemoteParticipant, didSubscribe publication: RemoteTrackPublication, track: Track)```
does not actived. Please help me how to make this function is called.
Thank you!

[2022-03-08 17:13] sinhngn commented on #61
Oh thank you, but I have just known why!, At ConnectOptions in room.connect, I set publishOnlyMode = nil, everything work well! Maybe this options just use for broadcasting video!.
My mistake! Thank you for support!

[2022-03-08 17:13] #61 closed

[2022-03-08 17:26] hiroshihorie commented on #61
Yes in most cases you won't need to use `publishOnlyMode`,
if you use this mode `autoSubscribe` will be turned off so you will not receive track subscribe notifications.

[2022-03-13 00:57] hiroshihorie commented on #10
I think the example code here https://github.com/livekit/client-example-swift demonstrates SwiftUI use case so I will close this for now.

Pre-compiled mac versions are available here https://github.com/livekit/client-example-swift/releases

[2022-03-13 00:57] #10 closed

[2022-03-15 11:37] lixiaozhong opened #62 "hi, how can I join swift sdks into Object-c？"
hi, my friends, how can I join swift sdks into Object-c？
Can you help me？ I have no idea。Thank you very much！

[2022-03-23 10:28] lixiaozhong commented on #62
Hi, actually, I’m not able to separate UI from the swift sdk code.

[2022-03-29 00:06] davidzhao commented on #62
I believe you should be able to use Swift libraries from ObjC. What errors are you seeing?

[2022-04-16 00:14] iAmcR opened #77 "Does VideoView work in iOS Simulator?"
Hi,

I tried out the example (found here: https://github.com/livekit/client-example-collection-swift) on the iOS 15.4 simulator (Xcode 13.3.1).

I noticed that when using a real device the collection view cell renders with video, but on the simulator no video is shown.

Is that correct operation or is something not right?

Thank you.

[2022-04-16 04:19] #62 closed

[2022-04-18 07:11] hiroshihorie commented on #77
Rendering on simulators don't work for now.

[2022-04-18 07:50] #77 closed

[2022-04-18 15:44] iAmcR commented on #77
No worries. Thank you.

It seems (this particular build of) `RTCMTLVideoView` doesn't render video on iOS simulator. But irrespective of performance, I really needed to quickly see a render on the simulator. I was able to add simulator rendering by adding:

[code]

to the `createNativeRendererView()` function in the `VideoView` class.

[2022-04-18 15:47] davidzhao commented on #77
thanks for the tip @iAmcR sounds like we should include this capability into the SDK. Would you be interested in submitting a PR?

[2022-04-18 15:50] iAmcR commented on #77
@davidzhao You're welcome. Sure - I'd be interested in submitting a PR.

[2022-04-18 16:10] iAmcR commented on #77
@davidzhao I submitted the PR as requested.

[2022-04-18 19:46] davidzhao commented on #77
thank you @iAmcR !

[2022-05-23 09:55] sandeep-yudiz opened #92 "How to custom camera/audio publish ?"
Hi

We have checked your documents but not much clear for custom camera/audio publish support?
Because our app we have beauty filter we need to apply on while publish video for streamer.

Thank you

[2022-05-23 09:58] sandeep-yudiz opened #93 "Can streamer while streaming join other streamer for some battle feature requirements in our app?"
Hi

Can you please guide this feature support exists or not?

Thanks

[2022-05-23 12:53] hiroshihorie commented on #93
Hi, are you talking about joining multiple rooms ? 👉 Yes you can.
Can you explain a bit more of your use case ?

[2022-05-23 12:58] hiroshihorie commented on #92
Which of the following are you trying to accomplish:
- Apply custom image processing to the frames captured by camera.
- You already have frames (CVPixelBuffer) being generated and you want to publish it.

[2022-05-23 13:40] hiroshihorie commented on #92
Currently only capturing `CMSampleBuffer` is supported but I think it's not hard to convert a `CVPixelBuffer` into a `CMSampleBuffer`.

You can:
1. create a `BufferCapturer` by calling `LocalVideoTrack.createBufferTrack()`.
2. start generating frames and call `bufferTrack.capturer.capture(sampleBuffer)`
3. publish the track.
[code]

Here is a full example:
https://github.com/livekit/client-example

[2022-05-25 03:27] hiroshihorie commented on #92
Hello with this commit:
https://github.com/livekit/client-sdk-swift/commit/27fa59136c57337343e94c91f15b785a86abd986

now you can directly capture a `CVPixelBuffer`.

[2022-05-25 21:38] #92 closed

[2022-05-26 01:08] davidzhao commented on #93
As Hiroshi mentioned, LiveKit supports multiple rooms, and you are able to preview the next room while streaming a current one. I'm not sure what you mean by `in battle`, but it sounds like the rest are features specific to your application.

In either case, LiveKit should work for your use case and I'm closing the issue.

[2022-05-26 01:08] #93 closed

[2022-06-01 04:33] shalom-aviv opened #94 "Monitor conference states by one user from several devices"
I will describe the task.
Let's say there is a chat, the user has it on several devices at once and he can use them at the same time. It is necessary to make it so that the user, talking on the ios client, can connect to the conference from the web and automatically leave conference on ios. From same account on all devices user can see statuses of participants: joined/muted/active lists, but only

[2022-06-01 04:44] shalom-aviv opened #95 "Scalable codecs"
Great topics I very recommend to read them all who want to use Livekit:
- [An Introduction to WebRTC Simulcast]( https://blog.livekit.io/an-introduction-to-webrtc-simulcast-6c5f1f6402eb/)
- [Bringing Zoom's end-to-end optimizations to WebRTC](https://stackoverflow.com/questions/37128928/does-webrtc-support-adaptive-bitrate-streaming-for-video)

We have 3 platforms ios/android/web(chrome, firefox).

[2022-06-01 06:08] davidzhao commented on #94
What you are describing is exactly the connection model that livekit uses. If you are passing in a consistent `identity` for the user across devices. Only one client could remain connected. See [connection docs](https://docs.livekit.io/guides/room/connect/#connecting-to-a-room).

[2022-06-01 06:09] davidzhao commented on #94
in order to look at who's in the room *before* connecting to the room, you can either use the server APIs for this information. webhooks is a reasonable approach too.

[2022-06-02 04:47] davidzhao commented on #95
While AV1 is supported by Chrome, SVC publishing has not been enabled by default yet. We are adding support for this into LiveKit for when browsers start to support it.

[2022-06-02 04:47] #95 closed

[2022-06-05 11:06] shalom-aviv commented on #94
Thanks!

[2022-06-05 11:06] #94 closed

[2022-06-09 10:36] std-s opened #98 "How to use SDK in 'cocoapods'."
hi,
  how to use SDK in 'cocoapods'.

[2022-06-12 05:11] davidzhao commented on #98
we have not yet published the SDK to cocoapods. You should be able to use Swift packages in addition to Cocoapods.

[2022-06-21 16:02] Sudhanshudwivedi opened #101 "Cocoapod support"
I want to add the iOS Livekit sdk to my cocoapod Library. As far as I know, we can't add the SPM directly in cocoapods. Is there any workaround for it? and also do you guys have any future plans to add the cocoapod support for the iOS SDK.

[2022-06-22 23:44] #101 closed

[2022-07-05 14:05] tgyhlsb commented on #98
@davidzhao any plans to support Cocoapods? We are also building a library for both pods and SPM but can't embed `LiveKit` in the pod version.

[2022-07-06 07:39] std-s opened #105 "How to set disable speakerphone?"
hi,
i can do it in Flutter:

[code]

but hot to do in iOS?

[2022-07-07 21:35] hiroshihorie commented on #105
Hi, I think you can do that through `RTCAudioSession` but it might conflict with the SDK.
I'll try to get this working today.

[2022-07-11 03:36] baveku commented on #98
@tgyhlsb  I rewrite this library to support Cocoapods, you can review it here: https://github.com/baveku/LiveKit
My lib is out of date. Next month, I will refactor and rewrite new version to support iOS and Cocoapods. Based on this library

[2022-07-11 03:42] baveku commented on #101
I found this library use URLWebSocket, it only supports >= iOS 12,
I think we can use another Websocket Library like [Starscream](https://github.com/daltoniam/Starscream) to support iOS 10 and work with all package managers(SPM, Cocoapods and Catharge)

[2022-07-12 03:17] hiroshihorie commented on #105
Hi, with this PR https://github.com/livekit/client-sdk-swift/pull/107

you can call
`AudioManager.shared.preferSpeakerOutput = false`

[2022-07-21 13:47] hiroshihorie commented on #98
Update: Cocoapods support should be available from next version. 🙂

[2022-08-09 11:53] tgyhlsb commented on #98
I've seen this commit https://github.com/livekit/client-sdk-swift/commit/d7a68b34af8ab2c5e6312458f75f0795ae9bd862 \o/

Maybe it's too early, but it does not seem to have been pushed to trunk, right?

Thanks for working on it (:

[2022-08-09 21:53] kubamatula commented on #98
I think that because `spec.source_files` is commented out in https://github.com/livekit/client-sdk-swift/blob/main/LiveKit.podspec - the Pod does not actually contain any LiveKit source files - and does not produce the framework correctly.

[2022-08-11 09:40] std-s commented on #105
thx.

[2022-08-11 09:40] #105 closed

[2022-08-12 16:51] iankoex opened #119 "Accessing Participant's Permissions"
The variables such as `canPublish` is `private`.
In the app that I am working on I want to be able to list everyone that can publish as speakers and the rest as listeners.
Additionally can have a field for `isAdmin` and allow for updating permissions (therefore creating moderation)

[2022-08-23 01:37] hiroshihorie commented on #119
Wow sorry I missed this one, it's now exposed in this commit: https://github.com/livekit/client-sdk-swift/commit/f05dc6940e07dd2d92eeee2efa8d1251e4405571

It will be available in a new release. (or you can use `main` directly for now)

Can you describe the `isAdmin` field ? You can use the metadata APIs to manage your app-specific logic.

I will close this for now.

[2022-08-23 01:37] #119 closed

[2022-08-23 05:36] iankoex commented on #119
Thanks for the commit.
The participant's permission is enough to create what I intended. About the room Admins I have used the room's metadata to notify all the participants who the admins are.
The issue that I've encountered is that `ObservableRoom` is a subclass of `RoomDelegate` but does not have the method ` func room(_ room: Room, didUpdate metadata: String?) {}` and therefore we cannot overr

[2022-08-30 20:54] hiroshihorie commented on #119
Hey @iankoex can you open a new issue ? thanks !

[2022-08-31 06:30] iankoex opened #126 "Override RoomDelegate Methods in ObservableRoom"
`ObservableRoom` is a subclass of `RoomDelegate` It has the following methods:
[code]

`ObservableRoom` does not implement the method
[code]
and therefore we can't override it in our own ObservableObject. This means we have no way of handling updates to metadata. Adding the method to ObservableRoom will fix the Issue.

[2022-09-01 10:48] iankoex commented on #119
@hiroshihorie I opened it here https://github.com/livekit/client-sdk-swift/issues/126

[2022-09-02 14:19] piercifani opened #129 "Adopting Picture in Picture"
Starting iOS 15, we can adopt PiP for Video Calls, which seems very appropriate for this project. Do you know if it's possible? Doing a quick search for `import AV*` didn't bring up encouraging results...

## Links

- https://developer.apple.com/documentation/avkit/adopting_picture_in_picture_for_video_calls

- https://stackoverflow.com/a/72470968/1152289

[2022-09-03 00:16] hiroshihorie commented on #129
Hi @piercifani , I'm interested in PiP support and with this recent change it should be possible to implement it : https://github.com/livekit/client-sdk-swift/pull/120

You can get frames by adding a custom `VideoRenderer` and feed `CMSampleBuffer`s to `AVSampleBufferDisplayLayer`.

I will try to write an example when I have time.

[2022-09-05 13:50] piercifani commented on #129
Great @hiroshihorie ! I'd very much appreciate that! But we still need a new version with those changes to be generated, right?

[2022-09-07 21:31] davidzhao opened #131 "No TCP candidates are being sent"
The Swift SDK isn't configured to use ICE TCP, which it should to maximize connectivity.

To confirm I ran livekit-server locally and Swift example app. In my server logs I see the following candidates coming from the client:

[code]

[2022-09-08 00:32] #131 closed

[2022-09-12 12:54] hiroshihorie opened #136 "Support Apple's async/await syntax"
Major internal change but I think it's possible not to break current API by using method overloading.
And keep the `Promises` version for a while.

[2022-09-13 05:48] hiroshihorie commented on #126
Hi, I just added the missing methods in this commit https://github.com/livekit/client-sdk-swift/commit/80aea5b87a5e814824ca0ebd131140b0dca5f982

If you need heavy customization of `ObservableRoom`, implementing your own `ObservableRoom` alternative instead of subclassing would work great also 🙂.

[2022-09-13 05:48] #126 closed

[2022-09-13 07:06] iankoex commented on #126
Yeah thanks. I did end up implementing my own observable room with lots of my app specific methods and variables.

[2022-09-13 07:37] hiroshihorie commented on #98
Hi, the podspec is published to Cocoapods with name `LiveKitClient`.

This is a minimal example including LiveKit with Cocoapods:
https://github.com/livekit/client-example-collection-swift/tree/main/using-cocoapods

I will close this for now.

[2022-09-13 07:37] #98 closed

[2022-09-13 07:43] hiroshihorie commented on #129
Hi, `VideoRenderer` protocol  and `VideoTrack.add(videoRenderer:)` is now in 1.0.5
I will close this for now.

I will let you know if I manage to implement a demo using PiP.

[2022-09-13 07:43] #129 closed

[2022-09-13 07:56] hiroshihorie opened #138 "Use ScreenCaptureKit for macOS 12.3+"
Improve `MacOSScreenCapturer ` to use `ScreenCaptureKit` when running on macOS 12.3+.
Fall back to old logic when lower than macOS 12.3.

Introduce new API's to enumerate window / display information such as title, owning app etc.

https://github.com/livekit/client-sdk-swift/pull/134

[2022-09-14 08:21] v57 opened #139 "Random crash on StateSync.readCopy()"
Looks like a deadlock, but layout subviews called from main thread and `performLayout()` also checks for main thread right before executing this function

![Screenshot 2022-09-14 at 11 07 16](https://user-images.githubusercontent.com/2669441/190097945-8bdd2332-e4e9-4f4d-96e8-c80f35718777.png)

[2022-09-14 08:25] v57 commented on #139
I'm using latest 1.0.5 version. Tested on iPad OS 16 Beta and macOS 12.5 (designed for iPad). Xcode 14, swift 5.7

[2022-09-14 09:30] hiroshihorie commented on #139
I suppose VideoView is crashing, can I see how you are using it ?

[2022-09-19 03:20] baveku opened #140 "[Audio] isMicrophoneEnabled is false, but Microphone still recording"
the issue is funny
I turn off micro but the received still hear me,
console log:
[code]
there is the result:
[code]
isMicrophoneEnabled = false
audioLevel = 0.125
----------------------
Why don't we disable the micro module after the microphone is set off?
Livekit still recording when microphone is off

[2022-09-19 04:34] baveku commented on #140
Oh, I'm very stupid :D I call duplicate some function so It's break code,

but I need a solution to disable Microphone module when I mute micro
[code]

[2022-09-19 07:55] hiroshihorie commented on #140
Hi, thats odd. You called `localParticipant.setMicrophone(enabled: false)` on participant A, but participant B can still hear ?

[2022-09-19 08:02] baveku commented on #140
I'm sorry, it's my fail
I call track.stop() and localParticipant.setMicrophone(enabled: false) in same time, so it's break logic(Fixed)

I want to ask: when we turn off micro, why is Recorder still working?
(*I saw a dotted yellow(microphone is recording) on iOS Statusbar*)

[2022-09-19 08:08] hiroshihorie commented on #140
@baveku Please unpublish the track to turn off the mic recording indicator.

[2022-09-19 08:10] baveku commented on #140
I mean I use localParticipant.setMicrophone(enabled: false), so I need unpublish track to stop recording, right?

[2022-09-19 08:11] baveku commented on #140
I will try this solution.

[2022-09-19 10:11] baveku commented on #140
It works, but why do we disable audio if the microphone is turnoff?

[2022-09-19 11:11] hiroshihorie commented on #140
You have a good point, initially that was the default behavior.

But we need to switch [AVAudioSession.category](https://developer.apple.com/documentation/avfaudio/avaudiosession/1616615-category) when mic switches on / off which also causes the **volume** to change which was confusing.

Therefore we decided not to switch category when `mute()` / `unmute()` (which is called internally by `setMicro

[2022-09-20 03:13] baveku commented on #140
I think we need to disable audio recorder module, I used Messenger or Google Meet and they disable the recorder when micro turn off.

[2022-09-20 07:52] hiroshihorie opened #141 "Instability in data publishing"
1. `localParticipant.publishData()`'s promise occasionally never resolved.
2. Data isn't reliably delivered.

[2022-09-20 07:56] hiroshihorie commented on #140
You are right, this is actually a design flaw in the WebRTC's iOS SDK.
The AudioUnit should be able to switch on / off without category switch required.
Fixing the root cause will be a bit tricky and I don't think I can work on it any time soon.

[2022-09-20 09:32] hiroshihorie opened #142 "Notify video rotation"

[2022-09-20 09:47] baveku commented on #140
okey, thank for your support, I solve my problem by your solution.
I still follow Livekit and use it for my production.

[2022-09-20 12:47] v57 commented on #139
I have different task so i'm closing this issue. It was crashing after i change or remove video tracks multiple times

[2022-09-20 12:47] #139 closed

[2022-09-22 15:34] jlopesoares opened #143 "Change Participants Volume"
Possibility to change participants microphone volume.

Currently not possible due to the used access control on track property.

[2022-09-23 08:45] jlopesoares commented on #98
Hi,
I've checked the `LiveKitClient` pod but I'm having some troubles when I try to archive a project while using it. It's related to a missing module.
Can you take a look?

Thanks

[2022-09-27 08:06] shamim-ict opened #144 "Simulcast on iOS sdk only sends only 1 resolution video frame."
We ran example project found in this git repo where SDK has been added by Pod configuration.

Environment information:
Device model: iPhone XR, iPhone 11
Device iOS version: iOS 16.0, 15.6
Xcode version: 14.0 (14A309)
Network Connectivity: Wifi
LiveKitClient version:  1.0.5
WebRTC-SDK : 104.5112.02

Description:

We enabled simulcast before connecting to room which has been reflected in webrtc off

[2022-09-27 20:25] davidzhao commented on #144
Did you enable dynacast on the publisher side? This is the expected behavior with dynacast, where if no one is consuming the published layers, they would get turned off. you can read more about the feature [here](https://blog.livekit.io/livekit-one-dot-zero/)

[2022-09-28 04:01] shamim-ict commented on #144
@davidzhao thank you for your response.

By disabling `dynacast` and `adaptiveStream` I can see same behaviour. This time there were two participants in the room. Only `rid = q;` is being sending and running app for sometimes I can see that frame size changes automatically from `1920 X 1080` to `1280 X 720`.

[2022-09-28 05:50] davidzhao commented on #144
Interesting, that's unexpected. Which version of the SDK are you running?

[2022-09-28 06:11] shamim-ict commented on #144
Using these version:
[code]

[2022-09-29 05:57] hiroshihorie commented on #144
I'm pretty sure multiple layers are being sent but I will do some investigation .

[2022-10-14 19:35] joaomurta opened #146 "When "Portait Locked" option is activated, VideoView behaves wrong"
these are the test steps I did demonstrated in the video:
Remembering that the view controller is locked in landscape, which is supposed to be.

1. I'm in landscape without "Portait Locked"
2. I turn on the camera
3. Rotate iPhone to Portait (physically)
4. I run back to Landscape
5. Turn off camera( we have an observer to turn off the camera when we go to “Control Panel”)
6. Enable “Portait Locke

[2022-10-16 12:46] hiroshihorie commented on #146
Hello I will try to replicate this one.

[2022-10-17 11:38] hiroshihorie commented on #143
Closing this since it's merged, please let me know if there are issues.

[2022-10-17 11:38] #143 closed

[2022-10-17 11:39] hiroshihorie commented on #138
Merged https://github.com/livekit/client-sdk-swift/pull/134

[2022-10-17 11:39] #138 closed

[2022-10-17 12:11] hiroshihorie commented on #146
Hi I did a quick check and it seems to be working as expected . Can you explain more details or can you upload example code to reproduce the issue ?

[2022-10-17 17:29] joaomurta commented on #146
`    override var supportedInterfaceOrientations: UIInterfaceOrientationMask {
        .landscape
    }

    override var shouldAutorotate: Bool {
        true
    }
    `

what happens is that when we have the "portrait Locked" the camera is rotated as you can see. Videoview behaves like portrait.

https://user-images.githubusercontent.com/24411127/196243735-9655dc68-adc2-44ea-888b-09fe891ed444.m

[2022-10-18 03:20] hiroshihorie commented on #144
@shamim-ict Thanks for the report, the fix will be in the next release .

[2022-10-18 03:20] #144 closed

[2022-10-18 04:47] hiroshihorie opened #148 "60 FPS rendering in iOS"

[2022-10-18 07:25] #148 closed

[2022-10-20 06:51] hiroshihorie commented on #146
It seems like a bug but I'm unable to reproduce this at the moment.

[2022-10-26 06:26] leeqiangzi opened #150 "cocopods上没有更新"
大哥，你这官方文档是1.0.6的，cocopods上是1.0.5的，文档还没有1.0.5的，让我这些老OC情何以堪啊，麻烦把trunk一下吧，非常感谢

[2022-10-26 06:29] leeqiangzi opened #151 "麻烦更新一下pod库吧"
1.0.6的api和1.0.5很多不一样，麻烦更新一下pod库吧，那里还是1.0.5的

[2022-10-26 06:34] davidzhao commented on #151
Two requests:
* please open issues in english, most of the team members don't understand Chinese
* please avoid opening duplicate issues

thank you for understanding.

[2022-10-26 06:34] #151 closed

[2022-10-26 06:35] #150 closed

[2022-10-26 06:39] leeqiangzi opened #152 "Please update the pod library to 1.0.6"
Document is 1.0.6
1.0.5 on pod（cocopods）
It is inconvenient to use oc to develop

[2022-10-26 08:42] leeqiangzi opened #153 "-[RTCConfiguration setSdpSemantics:]: unrecognized selector sent to instance 0x283"
Error message：
2022-10-26 16:40:09.750388+0800 JL[18221:962080] -[RTCConfiguration setSdpSemantics:]: unrecognized selector sent to instance 0x283560600

Initialized according to the official website prompt
@objc class KSLiveKitManager: NSObject {

    lazy var room = Room(delegate: self)

    /// 链接
    @objc
    func connect(url: String, token: String) {
        room.connect(url, token);
    }

[2022-10-26 08:53] hiroshihorie commented on #152
Hi, I'll update it to 1.0.6

[2022-10-26 09:03] hiroshihorie commented on #152
1.0.6 has been pushed to pods

[2022-10-26 09:03] #152 closed

[2022-10-26 09:29] leeqiangzi opened #154 "Crash"
2022-10-26 17:24:51.007108+0800 JL[18454:973350] -[RTCConfiguration setSdpSemantics:]: unrecognized selector sent to instance 0x283c7b300

[Crash-image](https://upload-images.jianshu.io/upload_images/2356976-a1be6691dc06e172.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240)
https://upload-images.jianshu.io/upload_images/2356976-a1be6691dc06e172.png?imageMogr2/auto-orient/strip%7CimageView2/2

[2022-10-27 02:48] leeqiangzi opened #155 "`sdpSemantics` property not found crash"
-[RTCConfiguration setSdpSemantics:]: unrecognized selector sent to instance 0x281ffc960

Specific location：
[code]

‘DispatchQueue.webRTC.sync { RTCConfiguration() }'，
No crash caused by sdpSemantics exists in the returned object；Is there any solution？，Call de exactly according to the document。

Thank you.

[2022-10-27 06:29] davidzhao commented on #155
hi, which version are you running on? can you provide any repro steps?

[2022-10-27 06:30] leeqiangzi commented on #155
The latest pod 1.0.6 updated yesterday

[2022-10-27 06:32] leeqiangzi commented on #155
`
@objc class KSLiveKitManager: NSObject {
    override init() {
        super.init();
    }

    lazy var room = Room(delegate: self)

    /// 链接
    @objc
    func connect(url: String, token: String) {
        room.connect(url, token);
    }

    /// 离开房间，断开链接
    @objc
    func disconnect() {
        room.disconnect();
    }
}

extension KSLiveKitManager: RoomDelegate {

    func room(_ room: R

[2022-10-27 06:32] leeqiangzi commented on #155
@objc class KSLiveKitManager: NSObject {
    override init() {
        super.init();
    }

    lazy var room = Room(delegate: self)

    /// 链接
    @objc
    func connect(url: String, token: String) {
        room.connect(url, token);
    }

    /// 离开房间，断开链接
    @objc
    func disconnect() {
        room.disconnect();
    }
}

extension KSLiveKitManager: RoomDelegate {

    func room(_ room: Roo

[2022-10-27 06:36] leeqiangzi commented on #155
We are very anxious. We hope you can repair it as soon as possible. Thank you

[2022-10-27 06:37] leeqiangzi commented on #155
pod 'LiveKitClient', '1.0.6'

[2022-10-27 06:40] davidzhao commented on #154
I'd like to remind you again to please stop filing duplicate issues. Please provide additional information to the same issue that you've opened in #153

[2022-10-27 06:40] #154 closed

[2022-10-27 06:49] leeqiangzi commented on #155
Can you find the problem from the information I provided？

[2022-10-27 06:55] hiroshihorie commented on #155
I'm investigating this, it might be Cocoapods related.
Can you give me the steps to replicate this ?

[2022-10-27 07:00] leeqiangzi commented on #155
1. Use cocopods to manage, pod 'LiveKitClient', '1.0.6'
2. This problem will occur if you link directly with url and token
3. The specific tool code is as follows

@objc class KSLiveKitManager: NSObject {
    override init() {
        super.init();
    }

    lazy var room = Room(delegate: self)

    /// 链接
    @objc
    func connect(url: String, token: String) {
        room.connect(url, token);

[2022-10-27 07:11] leeqiangzi commented on #155
The main problem is why there is no sdpSemantics in the RTCConfiguration returned by the webRTC, leading to a crash when assigning values. We did nothing outside, which means we called the link

[2022-10-27 08:10] leeqiangzi commented on #155
Hello, do you have any progress？

[2022-10-27 08:20] leeqiangzi commented on #155
![2222222](https://user-images.githubusercontent.com/15033611/198230690-efe9dcf2-cd67-49a0-85eb-24e1b066f6c4.jpeg)
![21212121](https://user-images.githubusercontent.com/15033611/198230716-85806717-3f0f-4975-83a8-691f06a99ab3.jpeg)

[2022-10-27 09:53] hiroshihorie commented on #155
Are you using the ObjC version ?

[2022-10-27 09:57] leeqiangzi commented on #155
ObjC or swift have problems

[2022-10-27 09:59] leeqiangzi commented on #155
What I'm using now is to create a swfit class that calls livekit, and then calls swift with ObjC

[2022-10-27 09:59] leeqiangzi commented on #155
I really don't understand what's going on. I've been looking forward to your reply

[2022-10-27 10:02] leeqiangzi commented on #155
My code is ObjC, but you use Cocopods integration 1.0.6 to integrate, and use the bridge file to call swift

[2022-10-27 10:15] hiroshihorie commented on #155
I can't reproduce this at the moment.

[2022-10-27 10:18] leeqiangzi commented on #155
I will provide you with a Github demo later, about

[2022-10-27 10:23] hiroshihorie commented on #155
Can I see your Podfile.lock file ?

[2022-10-27 10:43] leeqiangzi commented on #155
- LiveKitClient (1.0.6):
    - Logging
    - PromisesSwift
    - SwiftProtobuf
    - WebRTC-SDK (~> 104.5112.05)

[2022-10-27 15:22] joaomurta commented on #146
Hi @hiroshihorie , first of all, thanks for reply.

I think it's a good approach, as soon as the fix is available can you notify me here in the ticket please?

[2022-10-27 16:12] hiroshihorie commented on #153
Closing duplicate issue

[2022-10-27 16:12] #153 closed

[2022-10-27 16:30] hiroshihorie commented on #155
Looks correct.... can you prepare a small demo ? thanks.

[2022-10-29 14:08] leeqiangzi commented on #155
Hello, first of all, thank you very much for your reply. The reason for the problem has been found. It is because one of the other static libraries (. a) in our project references a lower version of webrtc. The 'RTCConfiguration' class in this version does not define the 'sdpSemantics' attribute
I also want to ask you whether we can still use LiveKit if a low version of WebRtc exists in the projec

[2022-10-29 14:12] leeqiangzi commented on #155
LiveKit is very important to us. Another library that references low version WebRtc is also important to us, but they can't modify it. We use LiveKit only for voice calls, and 'url' and 'token' are connected. Is there a better way to use LiveKit? For example, low version WebRtc is used in low version livekits, but only version 1.0.6 is seen in the current pod management

[2022-10-29 14:14] leeqiangzi commented on #155
The lower version is probably the 2016 version of webrtc

[2022-10-30 11:25] hiroshihorie commented on #155
Oh ok that makes a lot of sense it would crash.
You can fork this repo and reference your preferred WebRTC version and comment out the `sdpSemantics` property.

[2022-10-30 11:32] #155 closed

[2022-10-31 02:08] leeqiangzi commented on #155
Hello, I'd like to ask, what is the minimum version of livekit supported on pod? At present, there is only one 1.0.6

[2022-11-01 13:47] hiroshihorie commented on #155
@leeqiangzi I think you can use previous versions .

[2022-11-12 02:28] hieunetacom opened #156 "XCFramework"
Hi you,

Someone pls help me how to using LiveKit as XCFramework

I got the issue in dependence of binary framework

Thanks!

[2022-11-14 06:03] #141 closed

[2022-11-18 10:09] hiroshihorie opened #158 "Support E2EE"
Support end-to-end encryption

[2022-11-21 14:10] sanketns opened #159 "Not able to switch Speakers"
Not able to switch/(On or Off) between ear speaker and bottom speaker using AudioManager.shared.preferSpeakerOutput property. Tried every possible way to achieve this but no luck.
Kindly guide for the same.

[2022-11-21 15:38] hiroshihorie commented on #159
Hi, I'm working on this issue.

[2022-11-22 02:33] hiroshihorie opened #161 "Stereo recording"
Automatically enable stereo recording when device supports it.

[2022-11-22 02:34] hiroshihorie commented on #159
Update:
Looks like some things broke around AVAudioSession on iOS 16.

Related:
https://developer.apple.com/forums/thread/717621
https://stackoverflow.com/questions/73349619/ios-16-beta-5-avaudiosession-setcategory-produces-strange-error-what

[2022-11-22 12:55] sanketns commented on #159
It's not working on ios 16 earlier devices. Tried on Device having (iOS 15.0.1)

[2022-11-22 16:43] hiroshihorie commented on #159
Trying to resolve a bunch of audio related issues, it might take some time.

[2022-11-22 16:44] hiroshihorie opened #162 "Mic not released on iOS 16"
Starting with iOS 16, Apple made some changes to AVAudioSession and now the microphone indicator doesn't turn off.

[2022-11-23 16:50] hiroshihorie opened #164 "Mic input noise on macOS"
Mic input from Mac is Pretty noisy (white noise?)
Check if noise suppression is working correctly.

[2022-11-25 13:29] hiroshihorie commented on #159
I think the fix merged in `main` should fix it.

[2022-11-25 13:39] hiroshihorie commented on #162
Should be fixed in next release .

[2022-11-25 13:39] #162 closed

[2022-11-28 13:32] sanketns commented on #159
It worked using packages, Thanks for the support.

[2022-11-30 06:32] sanketns commented on #159
Still having one issue, Not able to switch back to normal phone speaker while connected with a bluetooth speaker.

[2022-11-30 07:13] davidzhao commented on #159
I believe this is expected. iOS priorities BT for audio output.